<div class="card mb-5">
  <h5 class="card-header d-flex justify-content-between">
    <span>🛒 Warenkorb</span>
    <span>{{ totalValue() | currency:'EUR' }}</span>
  </h5>
  <ul class="list-group list-group-flush">
    @if (!books().length) {
    
    }

    @for (b of books(); track b.isbn) {
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <span class="badge text-bg-secondary rounded-pill">{{ $index + 1 }}</span>
        {{ b.title }}
      </div>
      <span class="badge text-bg-primary">{{ b.price | currency:'EUR' }}</span>
    </li>
    } @empty {
        <li class="list-group-item"><strong>Keine Bücher im Warenkorb.</strong></li>
    }
  </ul>
</div>